---
interface Props {
  id: string;
  details: string;
  img: string;
  sucess: boolean;
  flightNumber: number;
}
const { sucess, flightNumber, img, id, details } = Astro.props;
const sucessText = sucess ? "Sucess" : "Failure";
---

<a
  href={`/launch/${id}`}
  class="rounded-lg border shadow-md bg-gray-800 border-gray-700 hover:scale-105 hover:bg-gray-700 hover:border-gray-500 transition flex flex-col"
>
  <picture class="flex justify-center p-4">
    <img
      src={img}
      class="mb-5 rounded-lg max-w-25"
      alt={`Patch for launch ${id}`}
    />
  </picture>
  <header class="p-4 flex-grow">
    <span
      class:list={[
        "text-xs font-semibold mr-2 px-2.5 py-0.5 rounded",
        {
          "text-green-900 bg-green-400": sucess,
          "text-red-900 bg-red-400": !sucess,
        },
      ]}
      >{sucessText}
    </span>
    <h2 class="my-2 text-2xl font-bold tracking-tight text-white">
      Flight #{flightNumber}
    </h2>
    <p class="mb-4 font-light text-gray-400">
      {
        details?.length > 100
          ? details.slice(0, 100) + " ... "
          : details == null
            ? "Nothign Details."
            : details
      }
    </p>
  </header>
</a>
